.navbar__container {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-bg-color);
  color: var(--fg-color);
  padding: 1.5rem;
  z-index: 10;
}
